:root {
  --text-color: #68B9E8;
  --secondary-text-color: #5A7690;
  --background-color: #232C31;
}

* {
  padding: 0;
  margin: 0;
  
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.page-wrap {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);

  display: flex;
  justify-content: center;
}

.page-content {
  width: 800px;
  max-width: 800px;

  margin-top: 2rem;
}

p {
  margin: 1rem 0;
  color: var(--text-color);
}

hr {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: var(--secondary-text-color);
}

h1 {
  color: white;
  font-size: 64px;
}

h2 {
  color:  var(--text-color);
  font-size: 24px;
}

h4 {
  color: var(--secondary-text-color);
  font-size: 24px;
}